
    @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@400..700&family=Instrument+Serif:ital@0;1&family=Oswald:wght@200..700&display=swap');
    *{
        margin: 0px;
        /* padding: 0px; */
        text-decoration: none;
    }
    
    h1{
        font-size: 18px;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 5px;
        height: 8px;
        background-color: lightblue;
    
    }
    header a{
        margin-left: 15px;
        color: white;
        font-weight: bold;
        border-bottom: 2px solid;
        font-size: 13px;
        padding: 0px 3px;
    }
    #home{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #home h2{
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px; 
        margin-top: 30px;
    }
   #home p{
        font-size: 15px;
        text-align: center;
        max-width: 50vw;
        margin: auto;
        margin-bottom: 20px;
    }
    img{
        display: block;
        /* margin-left: auto; */
        /* margin-right: auto; */
        width: 250px;
        height: 250px;
        border-radius: 100%;
        border: 1px solid;
        object-fit: cover;
    }
    #profile h1{
        font-size: 30px;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .img{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .em{
        margin-top: 40px;
    }
    .profile1{
        display: flex;
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: space-evenly;
       
    }
    #profile h2{
        border-bottom: 2px solid;
        margin-top: 20px;
        display: inline-block;
        margin-bottom: 10px;
    }
    #profile ul{
        list-style-type:disc;
    }
    #profile ol{
        list-style-type: lower-alpha;
    }
    #profile .name{
        font-size: 20px;
    }
    #profile{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #courses{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .course{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
        line-height: 50px; 

    }
    ul{
        display: flex;
        flex-direction: column;
    }
    .course h2{
        font-size: 20px;
        
    }
    #courses h1{
        text-align: center;
       
       
    }
    
    .intro{
        flex-grow: 1;
        /* margin-top: 30px; */
        font-size: 20px;
        font-family: "Caveat", cursive;
        margin: auto;
        max-width: 500px;
        text-align: center;
    }
    .item{
        border: 2px dashed;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px 10px gray;

    }
    table{
        width: 100%;
        max-width: 80%;
        margin: auto;
        border-collapse: collapse;
        box-shadow: 5px 5px 5px 5px rgb(53, 52, 52);
        margin-bottom: 40px;
    }
    caption{
        font-size: 20px;
        /* font-weight: bold; */
        margin-bottom: 10px;
        text-align: center;
        
    }
    th{
        background-color: skyblue;
        color: bisque;
        font-weight: bold;
        padding: 5px;
        text-align: center;
        border: 2px solid black;
    }
    td{
        padding: 5px;
        text-align: center;
        border: 2px solid;
    }
    #grades h1{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    #grades{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    form{
        max-width: 50%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px;
        background-color:gainsboro;
        border: 2px solid;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 5px rgb(165, 167, 167);
       
       
    }
    label{
        display: block;
        margin-bottom: 5px;
        font-weight: bold ;
        width: 50%;

}
    input, textarea, select{
        padding: 5px;
        border: 2px solid;
        border-radius: 5px;
        font-size: 10px;
        box-sizing: border-box;
    }
    button{
        width: 100px;
        background-color: red;
        color: black;
        font-weight: bold;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
    }
    input:focus{
        background-color:skyblue;
    }
    button:hover{
        color: red;
        background-color: white;
        border: 1px solid red;
        box-sizing: border-box;
    }
    .input{
       display: flex;
       align-items: center;
       gap: 20px;
       
    }
    .center{
        text-align: center;
    }
    .center h1{
        display: inline-block;
        border-bottom: 2px solid;
    }
    table tr:nth-child(3){
        background-color:azure;
    }
    table tr:hover{
        background-color: rgb(225, 217, 217);
    }
   address a{
    text-decoration: none;
   }
   #contact{
    background-color: skyblue;
    padding: 20px;
    height: 100vh;
    display: flex;
    
   }
   .contact{
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(103, 101, 101);
    border-radius: 5px;
    max-width: 60%;
    text-align: center;
    margin: auto;
    padding: 50px;
   }
   footer{
    background-color:darkslategray;
    padding: 10px 5px;
   }
   